<%- include("partials/header"); -%>

  <div class="centered">

    <div class="container row">

      <div class="col-lg-12">
        <h1 id="main-heading" class="display-5">College ERP</h1>
      </div>

      <div class="card col-lg-4">
        <div class="main-card">
          <%- include("partials/images/admin-img"); -%>
          <a href="/admin-login"><button type="button" class="btn btn-outline-dark btn-md btn-main">Login</button></a>
        </div>
      </div>

      <div class="card col-lg-4">
        <div class="main-card">
          <%- include("partials/images/student-img"); -%>
          <a href="/student-login"><button type="button" class="btn btn-outline-dark btn-md btn-main">Login</button></a>
        </div>
      </div>

      <div class="card col-lg-4">
        <div class="main-card">
          <%- include("partials/images/teacher-img"); -%>
          <a href="/teacher-login"><button type="button" class="btn btn-outline-dark btn-md btn-main">Login</button></a>
        </div>
      </div>

    </div>

<%- include("partials/footer"); -%>
