<%- include("partials/header"); -%>

  <%- include("partials/teacher-navbar"); -%>

  <div class="centered">

    <div class="form-card">

      <%- include("partials/images/password-img"); -%>

      <form action="/password-teacher" method="post">

        <div class="row">
          <%- include("partials/entry/old-password-entry"); -%>
        </div>

        <div class="row">
          <%- include("partials/entry/new-password-entry"); -%>
        </div>

        <div class="row">
          <%- include("partials/entry/confirm-password-entry"); -%>
        </div>

        <button type="submit" class="btn btn-outline-dark btn-md">Change</button>

        <%- include("partials/error"); -%>

      </form>

    </div>

<%- include("partials/footer"); -%>
