<%- include("partials/header"); -%>

  <%- include("partials/student-navbar"); -%>

  <div class="centered">

    <div class="form-table">

      <img src="images/student.svg" alt="Student">
      <p class="lead"><%= data.firstName %> <%= data.lastName %></p>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">First Name</th>
            <td><%= data.firstName %></td>
          </tr>
          <tr>
            <th scope="row">Last Name</th>
            <td><%= data.lastName %></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%= data.email %></td>
          </tr>
          <tr>
            <th scope="row">Branch</th>
            <td><%= data.branch %></td>
          </tr>
          <tr>
            <th scope="row">Section</th>
            <td><%= data.section %></td>
          </tr>
          <tr>
            <th scope="row">Contact</th>
            <td><%= data.contact %></td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td><%= data.gender %></td>
          </tr>
          <tr>
            <th scope="row">Year</th>
            <td><%= data.year %></td>
          </tr>
        </tbody>
      </table>

      <form action="/teacher-home" method="post">
        <button type="submit" class="btn btn-outline-dark btn-md" >Log Out</button>
      </form>

    </div>
    
<%- include("partials/footer"); -%>
