<%- include("partials/header"); -%>

  <%- include("partials/teacher-navbar"); -%>

  <div class="centered">

    <div class="form-card">

      <%- include("partials/images/attendence-img"); -%>

      <form action="/totalattend-teacher" method="post">

        <div class="row">
          <%- include("partials/entry/subject-entry"); -%>
        </div>

        <div class="row">
          <div class="col">
            <select class="form-select" name="branch" placeholder="Branch" required>
              <option value="" selected>Branch</option>
              <option value="<%= teacher.branch %>"><%= teacher.branch %></option>
            </select><br>
          </div>
        </div>

        <div class="row">
          <%- include("partials/entry/date-entry"); -%>
          <%- include("partials/entry/year-entry"); -%>
        </div>

        <div class="row">
          <%- include("partials/entry/section-entry"); -%>
        </div>

        <button type="submit" class="btn btn-outline-dark btn-md">Give</button>

        <%- include("partials/error"); -%>

      </form>

    </div>

    <% if (data.length != 0) { %>
        <div class="form-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sr No.</th>
                  <th scope="col">Date</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Name</th>
                  <th scope="col">Present</th>
                </tr>
              </thead>
              <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= data[i].date %></td>
            <td><%= data[i].subject.subject %></td>
            <td><%= data[i].student.firstName %> <%= data[i].student.lastName %></td>
            <td>True</td>
          </tr>
        <% } %>
            </tbody>
          </table>

        </div>
    <% } %>

<%- include("partials/footer"); -%>
